In [1]:
import requests
import pandas as pd
from sodapy import Socrata

In [2]:
# Data acquisition

client = Socrata("data.nasa.gov", None)
results = client.get("gh4g-9sfh", limit=50000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [3]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         45716 non-null  object
 1   id                           45716 non-null  object
 2   nametype                     45716 non-null  object
 3   recclass                     45716 non-null  object
 4   mass                         45585 non-null  object
 5   fall                         45716 non-null  object
 6   year                         45425 non-null  object
 7   reclat                       38401 non-null  object
 8   reclong                      38401 non-null  object
 9   geolocation                  38401 non-null  object
 10  :@computed_region_cbhk_fwbd  1659 non-null   object
 11  :@computed_region_nnqa_25f4  1659 non-null   object
dtypes: object(12)
memory usage: 4.2+ MB

In [4]:
# Data Cleaning

results_df.drop(labels=['geolocation',':@computed_region_cbhk_fwbd',':@computed_region_nnqa_25f4'],axis=1,inplace=True)
results_df.dropna(inplace=True)

In [5]:
results_df["geolocation"] = list(zip(results_df.reclat, results_df.reclong))

In [6]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38115 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         38115 non-null  object
 1   id           38115 non-null  object
 2   nametype     38115 non-null  object
 3   recclass     38115 non-null  object
 4   mass         38115 non-null  object
 5   fall         38115 non-null  object
 6   year         38115 non-null  object
 7   reclat       38115 non-null  object
 8   reclong      38115 non-null  object
 9   geolocation  38115 non-null  object
dtypes: object(10)
memory usage: 3.2+ MB

In [7]:
results_df.head()

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation
0,Aachen,1,Valid,L5,21,Fell,1880-01-01T00:00:00.000,50.775000,6.083330,"(50.775000, 6.083330)"
1,Aarhus,2,Valid,H6,720,Fell,1951-01-01T00:00:00.000,56.183330,10.233330,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000,Fell,1952-01-01T00:00:00.000,54.216670,-113.000000,"(54.216670, -113.000000)"
3,Acapulco,10,Valid,Acapulcoite,1914,Fell,1976-01-01T00:00:00.000,16.883330,-99.900000,"(16.883330, -99.900000)"
4,Achiras,370,Valid,L6,780,Fell,1902-01-01T00:00:00.000,-33.166670,-64.950000,"(-33.166670, -64.950000)"

name: the name of the meteorite (sometimes just its location, modified with numeric data or composition)<br>
id: a unique identifier of each meteorite<br>
nametype: one of:
<ul>
  <li>valid: a typical meteorite</li>
  <li>relict: a meteorite that has been highly degraded by weather on Earth</li>
</ul>
recclass: the class of the meteorite<br>
mass: the mass of the meteorite, in grams<br>
fall: one of:
<ul>
  <li>Fell: the meteorite's fall was observed</li>
  <li>Found: the meteorite's fall was not observed</li>
</ul>
year: the year the meteorite fell, or the year it was found (linked with the "fall" column)<br>
reclat: the latitude of the meteorite's landing<br>
reclong: the longitude of the meteorite's landing<br>

In [8]:
# Save the data into csv file

results_df.to_csv('meteorite-landings.csv')