In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [2]:
df = pd.read_csv('meteorite-landings.csv',index_col=[0])

In [3]:
# Removing the rows that have Not Valid "latitude" and "longitude" values:
df = df[(df["reclat"] != 0.0) & (df["reclong"] != 0.0)]

#preparing the data
X = df[['reclat','reclong']]
y = df['year']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)


reg = KNeighborsClassifier(n_neighbors=5)
reg.fit(X_train,y_train)
print("The accuracy is: ",reg.score(X_test,y_test))
pred=reg.predict(X_test)
print("Some examples of the guessed years, and the correct ones:")

df_pred = pd.DataFrame({'pred': pred,'y_test': y_test})
df_pred

The accuracy is:  0.5496688741721855
Some examples of the guessed years, and the correct ones:

                          pred                   y_test
4560   1988-01-01T00:00:00.000  1988-01-01T00:00:00.000
31377  1991-01-01T00:00:00.000  2002-01-01T00:00:00.000
37119  2002-01-01T00:00:00.000  2002-01-01T00:00:00.000
3215   1981-01-01T00:00:00.000  1981-01-01T00:00:00.000
8055   2001-01-01T00:00:00.000  2001-01-01T00:00:00.000
...                        ...                      ...
41697  1979-01-01T00:00:00.000  1979-01-01T00:00:00.000
1327   1990-01-01T00:00:00.000  1991-01-01T00:00:00.000
23477  2000-01-01T00:00:00.000  2000-01-01T00:00:00.000
2903   1977-01-01T00:00:00.000  1978-01-01T00:00:00.000
42029  1979-01-01T00:00:00.000  1979-01-01T00:00:00.000

[3171 rows x 2 columns]