In [27]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

from sklearn import metrics
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer

In [25]:
df = pd.read_csv('meteorite-landings.csv',index_col=[0])

In [119]:
# Removing the rows that have Not Valid "latitude" and "longitude" values:
df = df[(df["reclat"] != 0.0) & (df["reclong"] != 0.0)]

#preparing the data
X = df[['reclat','reclong']]
y = df['year']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)


reg = KNeighborsClassifier(n_neighbors=5)
reg.fit(X_train,y_train)
print("The accuracy is: ",reg.score(X_test,y_test))
pred=reg.predict(X_test)
print("Some examples of the guessed years, and the correct ones:")

df_pred = pd.DataFrame({'pred': pred,'y_test': y_test})
df_pred

The accuracy is:  0.5714285714285714
Some examples of the guessed years, and the correct ones:

                          pred                   y_test
43051  1979-01-01T00:00:00.000  1986-01-01T00:00:00.000
17036  2007-01-01T00:00:00.000  2009-01-01T00:00:00.000
17066  2009-01-01T00:00:00.000  2009-01-01T00:00:00.000
8111   2000-01-01T00:00:00.000  2000-01-01T00:00:00.000
2104   1984-01-01T00:00:00.000  1985-01-01T00:00:00.000
...                        ...                      ...
4789   1988-01-01T00:00:00.000  1988-01-01T00:00:00.000
33401  1999-01-01T00:00:00.000  1994-01-01T00:00:00.000
2212   1985-01-01T00:00:00.000  1985-01-01T00:00:00.000
34680  1999-01-01T00:00:00.000  1999-01-01T00:00:00.000
37116  2002-01-01T00:00:00.000  2002-01-01T00:00:00.000

[3171 rows x 2 columns]